@font-face {
    font-family: ACaslonProRegular;
    src: url("/css/fonts/ACaslonPro-Regular.otf");
}

.ACaslonPro-Regular-font {
    font-family: ACaslonPro-Regular, -webkit-body !important;
}

.what-we-deliver-item:hover * {
    color: #fff;

}